body {
  background-color: rgb(89, 6, 150);
  margin-top: 100px;
  font-family: 'Krub', sans-serif;
}

#header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: rgb(251, 203, 10);
  padding: 0;
  margin: 0;
  font-weight: bold;
}

h3 {
  color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
}

#container {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  background-color: rgb(55, 226, 213);
  width: 70%;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  border-radius: 5px;
}

#inputContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}


@media (max-width: 700px) {

  body {
    background-color: rgb(226, 55, 55);
  }

  #inputContainer {
    flex-wrap: wrap;
  }

}
